*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  height: 530px;
  width: 1000px;
  background-color: brown;
  margin: 50px auto;
}

.prodotto-uno{
  position: relative;
}

.container .prodotto-uno{
  background-color: aqua;
  height: 530px;
  width: 335px;
}

.prodotto-uno .sconto{
  position: absolute;
  bottom: 60px;
  background-color: #ff0000;
  padding: 3px 8px;
  color: white;
}

.prodotto-uno .sostenibilità{
  position: absolute;
  bottom: 60px;
  left: 45px;
  background-color: #008000;
  padding: 3px 8px;
  color: white;
}

.prodotto-uno .heart:hover{
  color: #ff0000;
  cursor: pointer;
}

.prodotto-uno .heart{
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 25px;
  background-color: white;
  padding: 5px 10px;
}

.prodotto-uno img{
  width: 100%;
}

.prodotto-uno,p{
  font-size: 12px;
}

.prodotto-uno .marca-prodotto{
  color: gray;
}

.prodotto-uno .prezzo-offerta{
  color: #ff0000;
}

.prodotto-uno .prezzo-originale{
  color: gray;
  text-decoration: line-through;
}