*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


/* header menu */
.container-header{
  background-color: #ff6900;
  height: 55px;
}

.container-header .nav{
  display: flex;
  align-items: center;
  height: 55px;
  max-width: 1030px;
  margin: 0 auto;
  color: white;
  font-size: 12px;
}

.menu ul{
  list-style: none;
  display: flex;
}

.menu ul li a{
  text-decoration: none;
  padding-right: 7px;
  color: white;
}

.container-header .logo{
  text-align: center;
}

.container-header .logo{
  flex-grow: 1;
}

.logo img{
  height: 20px;
}

.icone .fa-regular{
  padding-right: 8px;
}

/* main immagini */
.container{
  display: flex;
  flex-wrap: wrap;
  /* tutti gli elementi vanno a capo anche quelli all'interno delle img*/
  align-content: start;
  /* serve per allineare elementi su più linee */
  max-width: 1030px;
  margin: 50px auto;
  justify-content: space-between;
}

.prodotto-uno{
  position: relative;
}

.container .prodotto-uno{
  height: 530px;
  width: 335px;
}

.prodotto-uno .sconto{
  position: absolute;
  bottom: 60px;
  background-color: #ff0000;
  padding: 3px 8px;
  color: white;
  z-index: 1
}

.prodotto-uno .sostenibilità{
  position: absolute;
  bottom: 60px;
  left: 45px;
  background-color: #008000;
  padding: 3px 8px;
  color: white;
  z-index: 1
}

.prodotto-uno .heart:hover{
  color: #ff0000;
  cursor: pointer;
}

.prodotto-uno .heart{
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 25px;
  background-color: white;
  padding: 5px 10px;
}

.prodotto-uno img{
  width: 100%;
}

.prodotto-uno .img-none{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.prodotto-uno:hover .img-none{
  display: inline-block;
}

.prodotto-uno,p{
  font-size: 12px;
}

.prodotto-uno .marca-prodotto{
  color: gray;
}

.prodotto-uno .prezzo-offerta{
  color: #ff0000;
}

.prodotto-uno .prezzo-originale{
  color: gray;
  text-decoration: line-through;
}